
@font-face {
    font-family: 'ephesis';
    src: url('../img/ephesis_sub.woff2') format('woff2'),
         url('../img/ephesis_sub.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'dm_sans';
    src: url('../img/dm_sans.woff2') format('woff2'),
         url('../img/dm_sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }
body {
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    min-width: 600px;
    position: relative;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100; /* Ensure the canvas is behind other content */
}
#layer1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -98; /* Ensure the canvas is behind other content */
}
#layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -96; /* Ensure the canvas is behind other content */
}
header {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header h1 {
    font-family: 'ephesis' , Arial, sans-serif;
    font-weight: normal;
    font-size: 56px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    text-align: ce nter;
    /*width: 50%;*/
}
nav {
    background-color: #444;
    padding:0px;
    margin:0px;
    font-size: 16px;
    line-height: 13px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;

}
.scheme {
    padding: 0px;
    margin: 0;
    text-align: center;
    font-size: 9px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    /* border: 1px solid #dd0000; */
}
.sect-item {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sect-item p{
    margin-left: 40px;
    margin-right: 40px;
    /* line-height: 1.5em; */
    max-width: 728px;
}
.secTitle {
    font-family: 'dm_sans', Arial, sans-serif;
    width: auto;
    margin-left: -30px;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 30px;
    z-index:9;
    position: absolute;
    filter: drop-shadow(4px 4px 3px #0000005b);
    font-size: 13px;
    line-height: 13px;
}
.spacer {
    padding-top:10px;
}
.portfolio-item {
    margin-left: 20px;
}
.portfolio-item img {
    max-width: 100%;
    height: auto;
    
}
#contact p a{
    text-decoration: none;
    padding-top: 10px;
    margin: 0;
    font-size: 15px;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 42px;
    }
    .secTitle{
        font-size: 11px;
        line-height: 11px;
    }
}
/* @media (min-width: 600px) {
    body {
         min-width: 580px;
    }
} */